.container-for-character{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 4%;
}

.up-down-buttons {
  position: fixed;
  left: 68%;
  top: 35%;
}

.button-column{
  margin: 8px;
}
