.container-for-character{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 4%;
}

.up-down-buttons {
  margin-left: 48px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.button-column{
  margin: 8px;
}
