.item-size {
  width: 70%;
  height: 5%;
}

.components-in-row {
  float: right;
}

.column-rotation {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.margin-for-edit-dialog {
  margin-top: 4px;
}

.button-row-for-edit-dialog{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

