.button-row-for-games {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.button-in-admin-games {
  margin: 24px;
  width: 15%
}

.add-character-button {
  margin-top: 8px;
  margin-bottom: 8px;
  color: red;
  /*margin-left: 94%;*/
  margin-left: 95%;
}

.edit-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-for-admin-characters{
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  width: 95%;
  margin: 30px;

}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-column-select {
  overflow: visible;
}
