
<div class="container-for-admin-characters mat-elevation-z8">
  <button mat-icon-button class = add-character-button (click)="add()">
    <mat-icon>add</mat-icon>
  </button>
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Номер </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Имя </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="birthYear">
      <mat-header-cell *matHeaderCellDef> Год рождения </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.birthYear}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="faith">
      <mat-header-cell *matHeaderCellDef> Вера </mat-header-cell>
      <mat-cell *matCellDef="let element "> {{element.faith}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="organization">
      <mat-header-cell *matHeaderCellDef> Организация </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.organization}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="firstEpisode">
      <mat-header-cell *matHeaderCellDef> Первый эпизод </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <ng-container *ngIf="element.firstEpisode">
          сезон {{element.firstEpisode.seasonNumber}} серия {{element.firstEpisode.episodeNumber}}
        </ng-container>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastEpisode">
      <mat-header-cell *matHeaderCellDef> Последний эпизод </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <!--<ng-container *ngIf="element.lastEpisode!=null">-->
          <!--s {{element.lastEpisode.seasonNumber}} ep {{element.lastEpisode.episodeNumber}}-->
        <!--</ng-container>-->
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             (click)="selection.toggle(row)">
    </mat-row>
  </mat-table>
</div>
<div class = button-row-for-games>
  <button mat-raised-button color="accent" class = button-in-admin-games (click)="edit()">Редактировать</button>
  <button mat-raised-button color="primary" class = button-in-admin-games (click)="delete()">Удалить</button>
</div>

