<!--<mat-progress-bar mode="determinate" value="40" class="progress-bar-margin"></mat-progress-bar>-->

<!--<div class="container-for-translation-card">-->
  <!--&lt;!&ndash;<ng-container *ngFor="let word of words; index as i">&ndash;&gt;-->
    <!--<app-game-card #gameCard></app-game-card> &lt;!&ndash; [(word)]="words[0]"&ndash;&gt;-->
    <!--<div class = "button-row">-->
      <!--<button #nextButton mat-raised-button color="accent" (click)="next()" >Дальше</button>-->
    <!--</div>-->
  <!--&lt;!&ndash;</ng-container>&ndash;&gt;-->

  <!--&lt;!&ndash;<app-game-card *ngFor="let word of words" [(word)]="word" > &lt;!&ndash;(translationIsDone)="saveAnswer($event)"&ndash;&gt;&ndash;&gt;-->
  <!--&lt;!&ndash;</app-game-card>&ndash;&gt;-->

<!--</div>-->

<mat-horizontal-stepper #stepper="matHorizontalStepper" [linear] = true>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Начать</ng-template>
       <div class="container-for-admin-episodes mat-elevation-z8">
        <button mat-raised-button color="primary" (click)="startGame()" matStepperNext #go >Начать игру</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      cards
      <ng-template matStepLabel>Игра</ng-template>
      <div class="container-for-admin-episodes mat-elevation-z8">
        <app-game-card #gameCard [word]=""></app-game-card> <!-- [(word)]="words[0]"-->
        <!--<button #nextButton mat-raised-button color="accent" (click)="next()" >Дальше</button>-->
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
