<mat-progress-bar mode="determinate" value="40" class="progress-bar-margin"></mat-progress-bar>
<div class="container-for-translation-card">

  <!--<ng-container *ngFor="let word of words; index as i">-->
    <app-game-card #gameCard [(word)]="words[0]"></app-game-card>
    <div class = "button-row">
      <button #nextButton mat-raised-button color="accent" (click)="next()" >Дальше</button>
    </div>
  <!--</ng-container>-->

  <!--<app-game-card *ngFor="let word of words" [(word)]="word" > &lt;!&ndash;(translationIsDone)="saveAnswer($event)"&ndash;&gt;-->
  <!--</app-game-card>-->

</div>
