<!-- TODO возможно, стоит сделать форму через *ngFor-->
<div class = "container">
  <mat-card class = "example-card-hero">
      <form>
        <img mat-card-lg-image src = "../../../assets/img/tyrion.jpg" align="right" class="img-for-card">
        <mat-card-title class = "character-name">Тирион Ланнистер</mat-card-title>
        <mat-card-subtitle>270 год после Э.З.</mat-card-subtitle>
        <div class = "text-row">
          <p class="title">Мать&nbsp;</p> <p>Джоанна Ланнистер</p>
        </div>
        <div class = "text-row">
          <p class="title">Отец&nbsp;</p> <p>Тайвин Ланнистер</p>
        </div>
        <div class = text-row>
          <p class="title">Актёр&nbsp;</p> <p>Питер Динклейдж</p>
        </div>
        <div class = "text-row">
          <p class="title">Вера&nbsp;</p> <p>Семеро</p>
        </div>
        <div class = "text-row">
          <p class="title">Организация&nbsp;</p><p>Не состоит</p>
        </div>
      </form>
  </mat-card>
</div>

