<div class = "selectors-row">
  <mat-form-field class = "selector-size">
    <mat-select placeholder="Сезон" >
      <mat-option *ngFor="let season of seasons" [value]="season.value">
        {{ season.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class = "selector-size">
    <mat-select placeholder="Серия">
      <mat-option *ngFor="let episode of episodes" [value]="episode.value">
        {{ episode.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

