<mat-card class = answer-list-card>
  <p class = "table-title">Результаты:</p>
  <div class="example-container mat-elevation-z8">
    <p>
      {{words}}
    </p>

    <p>
      {{results}}
    </p>

    <!--<mat-table #table [dataSource]="dataSource">-->

      <!--<ng-container matColumnDef="inputWord">-->
        <!--<mat-header-cell *matHeaderCellDef class = "header-font"> Слово </mat-header-cell>-->
        <!--<mat-cell *matCellDef="let element"> {{element.translation}} </mat-cell>-->
      <!--</ng-container>-->

      <!--<ng-container matColumnDef="userTranslation">-->
        <!--<mat-header-cell *matHeaderCellDef class = "header-font"> Ваш перевод </mat-header-cell>-->
        <!--<mat-cell *matCellDef="let element"> {{element.word}} </mat-cell>-->
      <!--</ng-container>-->

      <!--<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
      <!--<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
    <!--</mat-table>-->
  </div>
  <div class = "button-row-center">
    <button mat-raised-button color="primary" class = "button-style-for-answers" routerLink="/games">К играм</button>
    <button mat-raised-button color="accent" class = "button-style-for-answers" routerLink="/home">На главную</button>
  </div>

</mat-card>
