
  <p *ngIf="location" class = table-title>
    Эпизод: Сезон {{location.episode.season.episodeNumber}} серия {{location.episode.episodeNumber}} <br>
    Локация: {{location.place.name}}
  </p>



<div class="container-for-admin-location mat-elevation-z8">
<button mat-icon-button class = add-location-button (click)="addLocation()">
<mat-icon>add</mat-icon>
</button>

<mat-table #table [dataSource]="dataSource_locations" class="mat-table">
  <ng-container matColumnDef="select">
  <mat-header-cell *matHeaderCellDef>
  <mat-checkbox (change)="$event ? masterToggle_locations() : null"
  [checked]="selection_locations.hasValue() && isAllLocationsSelected()"
  [indeterminate]="selection_locations.hasValue() && !isAllLocationsSelected()">
  </mat-checkbox>
  </mat-header-cell>
  <mat-cell *matCellDef="let row">
  <mat-checkbox (click)="$event.stopPropagation()"
  (change)="$event ? selection_locations.toggle(row) : null"
  [checked]="selection_locations.isSelected(row)">
  </mat-checkbox>
  </mat-cell>
  </ng-container>

  <ng-container matColumnDef="id">
  <mat-header-cell *matHeaderCellDef> Номер </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="name">
  <mat-header-cell *matHeaderCellDef> Персонаж </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element.character.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="x">
  <mat-header-cell *matHeaderCellDef> Координата X </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element.place.x}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="y">
  <mat-header-cell *matHeaderCellDef> Координата Y </mat-header-cell>
  <mat-cell *matCellDef="let element"> {{element.place.y}} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns_locations"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns_locations;"
  (click)="selection_locations.toggle(row)">
  </mat-row>
</mat-table>
</div>
<div class = button-row-for-location>
  <button mat-raised-button color = "accent" class = button-in-admin-games (click)="goBack()">Назад</button>
  <button mat-raised-button color="accent" class = button-in-admin-games (click)="editLocation()" >Редактировать</button>
  <button mat-raised-button color="primary" class = button-in-admin-games (click)="deleteLocation()">Удалить</button>
</div>
