<mat-toolbar color="primary" class="mat-elevation-z5">
  <mat-toolbar-row>
    <img src="../assets/img/logo_white.png" class="logo">
    <span>Game of thrones</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>perm_identity</mat-icon>
    </button>
    <mat-menu #menu="matMenu"> <!--Чтобы это поле отображалость только у админа, надо будет сделать *ngIf = "isAdmin"-->
      <button mat-menu-item>
        <span>Админка</span>
      </button>
      <button mat-menu-item>
        <span>Настройки</span>
      </button>
      <button mat-menu-item>
        <span>Выход</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<div>
  <nav mat-tab-nav-bar>
    <a mat-tab-link
       *ngFor="let tabLink of tabLinks; let i = index"
       [routerLink]="tabLink.link"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{tabLink.label}}
    </a>
  </nav>
  <router-outlet></router-outlet>
</div>


