<div class="container-for-admin-episodes mat-elevation-z8">

  <button mat-icon-button class = add-season-button (click)="addEpisode()">
    <mat-icon>add</mat-icon>
  </button>

  <mat-table #table [dataSource]="dataSource_episodes">
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterEpisodesToggle() : null"
                      [checked]="selection_episodes.hasValue() && isAllEpisodesSelected()"
                      [indeterminate]="selection_episodes.hasValue() && !isAllEpisodesSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection_episodes.toggle(row) : null"
                      [checked]="selection_episodes.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Номер </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="episodeNumber">
      <mat-header-cell *matHeaderCellDef> Серия </mat-header-cell>
      <mat-cell *matCellDef="let element"> Серия {{element.episodeNumber}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Название </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns_episodes"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns_episodes;"
             (click)="selection_episodes.toggle(row)">
    </mat-row>
  </mat-table>
</div>
<div class = button-row-for-episodes>
  <button mat-raised-button color = "primary">Назад</button>
  <button mat-raised-button color = "accent" (click)="editEpisode()">Редактировать</button>
  <button mat-raised-button color = "primary" (click)="deleteEpisode()">Удалить</button>
</div>
