<mat-card class = answer-list-card>
  <p class = "table-title">Результаты:</p>

  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">

      <ng-container matColumnDef="translation">
        <mat-header-cell *matHeaderCellDef class = "header-font"> Слово </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.translation}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="word">
        <mat-header-cell *matHeaderCellDef class = "header-font"> Ваш перевод </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.word}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="result">
        <mat-header-cell *matHeaderCellDef class = "header-font"> Верно ли </mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index ">
          <div *ngFor="let result of results; let k = index ">
            <div *ngIf = "i === k" [ngClass] = "{'incorrect': result === false && i === k, 'correct': result === true && i === k}">
              <mat-icon>{{getIconForResult(result)}}</mat-icon>
            </div>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

  <div class = margin-for-result>
    Ваши баллы:
    <div *ngIf="score; then userScore else default"></div>
    <ng-template #userScore>
      {{score}} / {{results.length}}
    </ng-template>
    <ng-template #default>
        {{defaultScore}} / {{results.length}} за посещение
    </ng-template>
  </div>

  <div class = "button-row-center">
    <button mat-raised-button color="primary" class = "button-style-for-answers" routerLink="/games">К играм</button>
    <button mat-raised-button color="accent" class = "button-style-for-answers" routerLink="">На главную</button>
  </div>

</mat-card>
