body, html {
  height: 100%;
}
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.progress-bar-margin {
  margin-top: 48px
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}

.container > * {
  width: 60%;
  height: 100%;
}

.container form {
  margin-bottom: 20px;
}

.container form > * {
  margin: 8px 0;
}

.button-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.top-label {
  font-weight: bold;
  font-size: 16pt;
}

.word-for-translation {
  font-size: 24pt;
  font-weight: bold;
}
