.card{
  width: 20%;
  padding: 0;
  height: 360px;
}

.button-style{
  height: 100%;
  background-color: #0000007F;
  width: 100%;
  display: block;
}

.picture{
  display: inline;
  position: absolute;
}

.mat-card-image {
  background-size: cover;
}

.card-location {
  display: inline;
}

.game-list-item {
  width: 20%;
}

.game-list{
  position: absolute;
}

.game-list-parent{
  position: relative;
}

.game-card-location{
  width: 50%;
}

