<mat-card class = "chronology">
  <mat-card-content>
    <section>
      <mat-checkbox [(ngModel)]="checked">Хронология</mat-checkbox>
    </section>
  </mat-card-content>
  <mat-form-field>
    <mat-select [(value)]="selectedSeason" class = "selection" placeholder="Выберите сезон">
      <mat-option value="option1">Cезон 1</mat-option>
      <mat-option value="option2">Сезон 2</mat-option>
      <mat-option value="option3">Сезон 3</mat-option>
      <mat-option value="option4">Cезон 4</mat-option>
      <mat-option value="option5">Сезон 5</mat-option>
      <mat-option value="option6">Сезон 6</mat-option>
      <mat-option value="option7">Cезон 7</mat-option>
      <mat-option value="option8">Сезон 8</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select [(value)]="selectedEpisode" placeholder="Выберите серию">
      <mat-option value="option9">Серия 1</mat-option>
      <mat-option value="option10">Серия 2</mat-option>
      <mat-option value="option11">Серия 3</mat-option>
      <mat-option value="option12">Серия 4</mat-option>
      <mat-option value="option13">Серия 5</mat-option>
      <mat-option value="option14">Серия 6</mat-option>
      <mat-option value="option15">Серия 7</mat-option>
      <mat-option value="option16">Серия 8</mat-option>
      <mat-option value="option17">Серия 9</mat-option>
      <mat-option value="option18">Серия 10</mat-option>
    </mat-select>
  </mat-form-field>
</mat-card>
