.example-card {
  max-width: 312px;
  height: 128px;
  padding: 0;
}

.img-for-card {
  width: 30%;
  height: 100%;
  float: right;
  margin: 0 !important;
}

.left-rotation {
  float: left;
  height: 100%;
  padding: 16px;
}

.button-location{
  margin-left: 20px !important;
}
