.button-row-for-games {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.button-in-admin-games {
  margin: 24px;
  width: 15%
}

.add-character-button {
  margin-top: 16px;
  margin-right: 16px;
  margin-bottom: 8px;
  color: red;
  margin-left: 96%;
}

.edit-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


