.container-admin-users {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  width: 95%;
  margin: 30px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mat-column-select {
  overflow: visible;
}

.button-row-for-admin-users {
  display: flex;
  align-items: right;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 100%;
  justify-content: space-around;
}
