.game-card {
  display: flex;
  flex-direction: row;
}

.top-label {
  font-weight: bold;
  font-size: 16pt;
}

.image-for-language-card {
  width: 10%;
}
.card {
  width: 20%;
  padding: 0;
  height: 300px;
}

.button-style {
  /*height: 100%;*/
  background-color: #0000007F;
  /*width: 100%;*/
  display: block;
  margin-top: 16px;
}

.picture {
  height: 100%;
}

.mat-card-image {
  background-size: cover;
}

.card-location {
  display: inline;
}

.game-list-item {
  width: 45% !important;
  height: 95%;
  padding: 0 !important;
}

.game-list {
  position: absolute;
}

.game-list-parent {
  position: relative;
}

.mat-grid-list {
  height: 20vh;
  padding-bottom: calc(((1 * ((30% - 0.5px) * 1)) + 0px) + 0px) !important;

}

.game-card-location {
  width: 30% !important;
}

.app-game-card-location{
  width: 60%;
  margin-left: 20%;
  margin-top: -4%;
}

.word-for-translation {
  font-size: 24pt;
  font-weight: bold;
}

.container-for-translation-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 24px;
}
