<div class="container-for-admin-games mat-elevation-z8">
  <button mat-icon-button class = add-language-button (click)="addLanguage()">
    <mat-icon>add</mat-icon>
  </button>
  <mat-table #table [dataSource]="dataSource_languages">
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterLanguagesToggle() : null"
                      [checked]="selection_languages.hasValue() && isAllLanguagesSelected()"
                      [indeterminate]="selection_languages.hasValue() && !isAllLanguagesSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection_languages.toggle(row) : null"
                      [checked]="selection_languages.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Номер </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Название </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns_languages"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns_languages;"
             (click)="selection_languages.toggle(row)">
    </mat-row>
  </mat-table>
</div>
<div class = button-row-for-language>
  <button mat-raised-button color="primary" class = button-in-admin-languages (click)="deleteLanguage()">Удалить</button>
  <button mat-raised-button color="accent"  (click)="editLanguage()">Редактировать</button>
  <button mat-raised-button color="primary" (click)="getDictionary()">Открыть словарь</button>
</div>
