.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.logo {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.background {
  height: 80%;
}

.button-column{
  margin: 8px;
}

.container-for-character{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 4%;
}

.up-down-buttons {
  margin-left: 48px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.app-game-card-location{
  width: 60%;
  margin-left: 20%;
  margin-top: -4%;
}

.mat-grid-list[_ngcontent-c9] {
  padding-bottom: calc(((1 * ((20% - 0.5px) * 1)) + 0px) + 0px);
}
