<div class = center-orient>
  <p class = "section-title">Настройки</p>
  <mat-card class = settings-section>
    <form class = "changing-password-form">

      <mat-label class = section-label> Личные данные </mat-label>

      <mat-form-field class="full-width">
        <label class="mat-tab-label"> Имя
            <input matInput name="name" [(ngModel)]="user.name">
        </label>
      </mat-form-field>

      <mat-form-field class="full-width">
        <label class="mat-tab-label"> Логин
          <input matInput name="login" [(ngModel)]="user.login">
        </label>
      </mat-form-field>

      <mat-label class = section-label> Контактная информация </mat-label>

      <mat-form-field class="full-width">
        <label class="mat-tab-label"> Телеграм
          <input matInput name="telegram" [(ngModel)]="user.telegram">
        </label>
      </mat-form-field>

      <mat-form-field class="full-width">
        <label class="mat-tab-label"> Электронный адрес
          <input matInput name="email" [(ngModel)]="user.email">
        </label>
      </mat-form-field>

      <mat-label class = section-label> Безопасность </mat-label>

      <mat-form-field class="full-width">
        <label class="mat-tab-label"> Новый пароль</label>
        <input matInput [type]="hide ? 'password' : 'text'" name="password" [(ngModel)]="user.password">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
    </form>
  </mat-card>

  <div class = "button-row-settings">
    <button mat-raised-button (click)="openConfirmationDialog()" color = "accent">Сохранить изменения</button>
  </div>
</div>



