<div class = center-orient>
  <p class = "section-title">Изменить пароль</p>
  <mat-card class = settings-section>
    <form class = "changing-password-form">
      <mat-form-field class="full-width">
        <input matInput placeholder="Введите старый пароль" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Введите новый пароль" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Повторите пароль" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
    </form>
  </mat-card>

  <!--<p class = "section-title">Выбрать метод получения рассылки</p>-->
  <!--<mat-card class="settings-section">-->
    <!--<mat-card-content>-->
      <!--<section class="example-section">-->
        <!--<mat-checkbox class="example-margin">E-mail</mat-checkbox>-->
        <!--<mat-checkbox class="example-margin">Telegram</mat-checkbox>-->
      <!--</section>-->
    <!--</mat-card-content>-->
  <!--</mat-card>-->

  <div class = "button-row-settings">
    <button mat-raised-button (click)="openDialog()" color = "accent">Сохранить изменения</button>
    <button mat-raised-button (click)="openDialog()" color = "primary">Выйти</button>
  </div>
</div>


