.container-for-admin-location {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  width: 95%;
  margin: 30px;
}

.add-location-button {
  margin-top: 8px;
  margin-bottom: 8px;
  color: red;
  margin-left: 95%;
}

.button-row-for-location {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.add-place-form {
  width: 100%;
}

.confirmation-buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 16px;
}

.delete-location-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

mat-cell {
  overflow: visible;
}

.episode-and-season-choosers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
