<mat-horizontal-stepper #stepper="matHorizontalStepper" [linear] = true>

  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Выберите эпизод</ng-template>
      <div class = episode-and-season-choosers>
      <!--<mat-form-field>-->
          <!--<mat-select placeholder="Сезон" (change)="setSelectedSeasonNumber($event.value)" (selectionChange)="enableEpisodeSelect()">-->
            <!--<ng-container *ngFor="let season of episodes">-->
              <!--<mat-option [value]="season.seasonNumber">-->
                <!--<div> Сезон {{ season.seasonNumber }} </div>-->
              <!--</mat-option>-->
            <!--</ng-container>-->
          <!--</mat-select>-->
      <!--</mat-form-field>-->
      <!--<mat-form-field>-->
          <!--<mat-select placeholder="Серия" (change)="setSelectedEpisodeNumber($event.value)" [disabled]="disableSelect">-->
            <!--<ng-container *ngFor="let season of episodes">-->
              <!--<mat-option *ngIf="season.seasonNumber==selectedSeasonNumber" [value]="season.episodeNumber">-->
                <!--<div> Серия {{ season.episodeNumber }} </div>-->
              <!--</mat-option>-->
            <!--</ng-container>-->
          <!--</mat-select>-->
      <!--</mat-form-field>-->

        <app-episode-chooser (episodeSelected)="setEpisode($event)"></app-episode-chooser>

      </div>
      <div>
        <button mat-button matStepperNext color = "accent">Дальше</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Место</ng-template>
    <div class="container-for-admin-location mat-elevation-z8">
    <button mat-icon-button class = add-location-button (click)="openDialogAddPlace()">
      <mat-icon>add</mat-icon>
    </button>
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> Номер </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Место </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"
               (click)="selection.toggle(row)">
      </mat-row>
    </mat-table>
    </div>
    <div class = button-row-for-location>
      <button mat-raised-button color="accent" class = button-in-admin-games (click)="opedDialogEditPlace()">Редактировать</button>
      <button mat-raised-button color="primary" class = button-in-admin-games (click)="openDialogDeletePlace()">Удалить</button>
    </div>

  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Редактировать</ng-template>
    <div class="container-for-admin-location mat-elevation-z8">
      <button mat-icon-button class = add-location-button (click)="openDialogAddLocation()">
        <mat-icon>add</mat-icon>
      </button>
      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="id">
          <mat-header-cell *matHeaderCellDef> Номер </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef> Персонаж </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="x">
          <mat-header-cell *matHeaderCellDef> Координата X </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.x}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="y">
          <mat-header-cell *matHeaderCellDef> Координата Y </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.y}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsForLastStep"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsForLastStep;"
                 (click)="selection.toggle(row)">
        </mat-row>
      </mat-table>
    </div>
    <div class = button-row-for-location>
      <button mat-raised-button color="accent" class = button-in-admin-games (click)="opedDialogEditLocation()">Редактировать</button>
      <button mat-raised-button color="primary" class = button-in-admin-games (click)="openDialogDeletePlace()">Удалить</button>
    </div>
  </mat-step>

</mat-horizontal-stepper>
