.img-size {
  height: 100%;
}

.loader-size {
  height: 333px;
  width: 232px;
}

.mat-dialog-actions {
  padding: 12px 0;
  display: block;
  margin-bottom: -24px;
}

.button {
  margin-top: 8px;
  position: relative;
}
