
<mat-card class = panel-for-map>
  <div class=full-width>
    <app-episode-chooser></app-episode-chooser>
  </div>
  <div class = image-for-panel>
    <img mat-card-image src = "././assets/img/tyrion.jpg" >
  </div>
  <div>
    <mat-card-header >
      <div class =  column-panel>
        <mat-card-title class = title>Тирион Ланнистер</mat-card-title>
        <mat-card-subtitle>278 год после З.Э.</mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-actions>
      <div class = button-panel >
        <button mat-raised-button color = "accent">Подробнее</button>
      </div>
    </mat-card-actions>
  </div>
</mat-card>
