<mat-card>
  <!--<mat-card-content>-->
    <!--<section>-->
      <!--<mat-checkbox [(ngModel)]="checked" (change)="enableChronology(checked)">Хронология</mat-checkbox>-->
    <!--</section>-->
  <!--</mat-card-content>-->

  <mat-form-field>
    <mat-select class = "selection" placeholder="Выберите сезон"
               (change)="enableEpisodeSelect()" (selectionChange)="getEpisodesForSeason($event.value)">
      <mat-option [value]="null"></mat-option>
      <mat-option *ngFor="let season of seasons" [value]="season">
        Сезон {{season.seasonNumber}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!--<br>-->
  <mat-form-field>
    <mat-select class = "selection" placeholder="Выберите серию"
                [value]="selectedEpisode" (selectionChange)="setEpisode($event.value)"
                disabled={{episodeDisabled}}>
      <mat-option [value]="null"></mat-option>
      <mat-option *ngFor="let episode of episodes" [value]="episode">
        Серия {{episode.episodeNumber}}: {{episode.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</mat-card>
