.game-card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.image-for-language-card {
  background-size: contain;
  max-width: 100% !important;
  align-self: center;
}


.image-style {
  width: 100%;
}

.cards-location {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game-list-item {
  width: 100% !important;
  height: 75%;
  padding: 0 !important;
}

.button-style {
  display: block;
  margin-top: 8px;
}

.card-button {
  width: 100% !important;
}

mat-card {
  width: 40%;
}

.image {
  width: 100% !important;
}
