<mat-card class = year-chooser>
  <mat-card-content>
    <mat-form-field>
      <mat-select [(value)]="year" class = "selection" placeholder="Выберите год">
        <mat-option value="option1">970</mat-option>
        <mat-option value="option2">971</mat-option>
        <mat-option value="option3">972</mat-option>
        <mat-option value="option4">973</mat-option>
        <mat-option value="option5">974</mat-option>
        <mat-option value="option6">975</mat-option>
        <mat-option value="option7">976</mat-option>
        <mat-option value="option8">977</mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
</mat-card>
