<div class = error-page-style>
    <label class = "error-message">weregrvwefvsrfsdf, дорогой, спасибо, что зарегистрировался. Теперь ты можешь играть, баловаться с картой и менять настройки своего профиля, поздравляем! <br>
      Тебе осталось только подтвердить свою регистрацию, открыв письмо на e-mail или сообщение в telegram. <br> Winter is coming</label>
    <label class = sub-text>ПРЕДУПРЕЖДЕНИЕ. Создатели сайта не несут ответственности за психоогические расстройства, полученные пользователем от слуайных спойлеров на данном сайте.
      Будьте внимательны.</label>

</div>
