.languages-list-admin{
  margin-top: 24px;
}

.languages-chooser {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.container-for-admin-language {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  width: 95%;
  margin: 30px;
}

.words-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
}

mat-cell {
  overflow: visible;
}

.container-for-admin-games {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  width: 95%;
  margin: 30px;
}

.button-row-for-language {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.add-language-button {
  margin-top: 8px;
  margin-bottom: 8px;
  color: red;
  margin-left: 95%;
}
.full-width-language-input {
  width: 100%;
}

.confirmation-buttons-languages {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
