.languages-list-admin{
  margin-top: 24px;
}

.languages-chooser {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.container-for-admin-language {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  width: 95%;
  margin: 30px;
}
